.rounded-lg {
    border-radius: 20px;
}

.product-image {
    width: 100%;
    height: 200px;
    background-image: url('https://rukminim1.flixcart.com/image/612/612/kmz7qfk0/cases-covers/back-cover/f/r/t/iphone-12-pro-silicone-phone-cover-wireless-charging-support-original-imagfr86c4ufwwjy.jpeg?q=70');
    background-repeat: no-repeat;
    background-size: cover;
}

.product-card {
    overflow: hidden;
}

.product-title {
    font-size: large;
}

.product-price {
    font-size: 1.5rem;
}

.product-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}